# Core functionality - changes here should be rare!
/src/app.py                   @samett-aydinn
/src/backend/database.py      @samett-aydinn
/src/backend/routers/auth.py  @samett-aydinn

# The frontend will need refactored soon to be more object oriented.
/src/static/   @samett-aydinn
